h1 {
    font-family: 'Pally', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 0.3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 8rem;
    text-align: center;
}

h3 {
    font-family: 'Pally', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 0.3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    color: #323232;
}

.aboutMe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.photoHolder {
    flex: 40%;
}

.photo {
    width: 80%;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
}

.paragraphAboutMe {
    flex: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5rem;
}

.paragraphAboutMe p {
    width: 100%;
}

.aboutMe p {
    font-size: 24px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.workWithMe {
    margin-left: auto;
    margin-right: auto;
}

.workWithMe p {
    font-size: 24px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
} 

.process {
    display: flex;
    flex-wrap: wrap;
    background-color: #edf6f942;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
    border-radius: 2rem;
    padding: 2rem;
}

.step {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.moreAboutMe p {
    width: 60%;
    font-size: 24px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.moreAboutMe {
    margin-top: 5rem;
}

.somePhotos {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.hikePhotoOne {
    width: 20%;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
}

.hikePhotoTwo {
    width: 75%;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
}