h1 {
    font-family: 'Pally', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 0.3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    font-family: 'Pally', sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 0.3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    color: #323232;
}

.pageDes {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    width: fit-content;
    font-size: 24px;
}

.graphicDesignItemsContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.varsityItemsSection {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.graphicDesignItem {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #323232;
}

.itemVis {
    align-content: center;
    position: relative;
}

.itemVis:before {
    content: '';
    position: absolute;
    width: 100%; height: 0%;
    left: 0;
    top: 0;
    background-color: var(--dark-orange);
    border-radius: 2rem;
    transition: height .2s ease;
}

.itemVis:hover:before {
    height: 100%;
    right: 0;
    bottom: 0;
}

.itemVis img {
    background-color: var(--light-color);
    height: 20rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
    width: 20rem;
}

.desc {
    position: absolute;
    bottom: 0;
    left: 10%;
    opacity: 0;
    font-family: 'Pally', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    transition: opacity .1s ease;
}

.itemVis:hover .desc {
    opacity: 1;
}