h2 {
    font-family: 'Pally', sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 0.3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    color: #323232;
}

.splashScreen {
    flex: 2;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 20%;
}

.splashScreenText {
    font-family: 'Pally', sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 0.3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    animation: transIn 1s ease;
}

#bubble {
    position: absolute;
    animation: float 10s forwards;
    z-index: -1;
}

.bubbleGradDarkTeal {
    stop-color: var(--dark-teal);
}

.bubbleCircDarkTeal {
    stroke: var(--dark-teal);
}

.bubbleHighDarkTeal {
    stroke: var(--dark-teal);
}

.bubbleGradDarkOrange {
    stop-color: var(--dark-orange);
}

.bubbleCircDarkOrange {
    stroke: var(--dark-orange);
}

.bubbleHighDarkOrange {
    stroke: var(--dark-orange);
}

.bubbleGradDarkLightOrange {
    stop-color: var(--light-orange);
}

.bubbleCircDarkLightOrange {
    stroke: var(--light-orange);
}

.bubbleHighDarkLightOrange {
    stroke: var(--light-orange);
}

.bubbleGradLightTeal {
    stop-color: var(--light-teal);
}

.bubbleCircLightTeal {
    stroke: var(--light-teal);
}

.bubbleHighLightTeal {
    stroke: var(--light-teal);
}

.bubbleGradLight {
    stop-color: var(--light-color);
}

.bubbleCircLight {
    stroke: var(--light-color);
}

.bubbleHighLight {
    stroke: var(--light-color);
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        transform: translate(0px, -500px);
        opacity: 0;
    }
}

.mouseIcon {
    position: absolute;
    left: 48%;
    animation: transIn 1s ease;
    z-index: -1;
}

.scrollWheel {
    stroke-dasharray: 5;    
    animation: scroll 2.5s infinite;
}

@keyframes scroll {
    to {
        stroke-dashoffset: -10;
    }
}

@keyframes transIn {
    from {
        opacity: 0;
        transform: translate(0px, 10px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.sectDesc {
    font-family: 'CabinetGrotesk', sans-serif;
    margin: 0;
    font-size: 28px;
    padding: 1rem;
    text-align: center;
}

.sections {
    margin-top: 1rem;
    margin-bottom: 3rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.section {
    flex: 1;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
    transition: transform ease-in-out 0.1s;
}

.section:hover {
    transform: scale(1.02);
}

.section h2 {
    color: #EDF6F9;
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.one {
    background-color: var(--dark-teal);
}

.two {
    background-color: var(--dark-orange);
}

.three {
    background-color: var(--light-teal);
}

.sectionLink {
    color: #EDF6F9;
    font-size: 36px;
    font-family: 'Pally', sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.projectList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.project {
    color: var(--light-color);
    font-size: 40px;
    width: 100%;
    line-height: 0.3;
}

.projectImage {
    background-color: var(--light-color);
    width: 80%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 8px;
}

.clientWork, .personalProjects, .about, .work {
    margin-bottom: 10rem;
}
