:root {
    --dark-teal: #5C6F6D;
    --light-teal: #A6B6AB;
    --dark-orange: #BB7154;
    --light-orange: #D49D88;
    --light-color: #FDF1E5;
}

@font-face {
    font-family: 'Pally';
    src: url('/fonts/Pally-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'CabinetGrotesk';
    src: url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
}

html {
    min-height: 100%;
}

body {
    background: var(--light-color);
    background: linear-gradient(180deg,#FDF1E5 0%, #d5dfd8 100%);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: 'CabinetGrotesk', sans-serif;
    color: #323232;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 1rem 1.5rem
}

h2, h3 {
    font-family: 'Pally', sans-serif;
    color: #EDF6F9;
}

footer {    
    width: 100%;
    text-align: center;
    font-family: 'CabinetGrotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.navigationLinks {
    margin-top: 1rem;
}

.navLink {
    font-family: 'CabinetGrotesk', sans-serif;
    font-size: 24px;
    font-weight: 450;
    text-decoration: none;
    color: #323232;
    margin: 1rem;
    line-height: 1.5;
    position: relative;
}

.navLink:after {
    content: '';
    position: absolute;
    width: 0; height: 100%;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(
        transparent 55%,
        #f3c7b6 55%,
        #D49D88 85%,
        transparent 85%,
        transparent 100% 
    );
    transition: width .2s ease;
}

.navLink:hover:after {
    width: 100%;
    left: 0;
}

/* SVG logo Styling and Animation */
.letter-c {
    position: absolute;
    fill: #5C6F6D;
    animation: pop-c 1.5s ease;
}

.letter-h {
    position: absolute;
    fill: #5C6F6D;
    animation: pop-h 1.5s ease;
}

.letter-r {
    position: absolute;
    fill: #5C6F6D;
    animation: pop-r 1.5s ease;
}
.letter-i {
    position: absolute;
    fill: #5C6F6D;
    animation: pop-i 1.5s ease;
}

.letter-s {
    position: absolute;
    fill: #5C6F6D;
    animation: pop-s 1.5s ease;
}

.letter-d {
    position: absolute;
    fill: #5C6F6D;
    animation: pop-dot 1s ease;
}

.linkPhoto {
    width: 2.5rem;
}

.contact {
    text-decoration: none;
}

.contactLinks {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes pop-c {
    0% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes pop-h {
    0% {
        transform: translate(100px, 0);
    }
    10% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes pop-r {
    0% {
        transform: translate(100px, 0);
    }
    20% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes pop-i {
    0% {
        transform: translate(100px, 0);
    }
    30% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes pop-s {
    0% {
        transform: translate(100px, 0);
    }
    40% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes pop-dot {
    0% {
        transform: translate(0, -100px);
    }
    60% {
        transform: translate(0, -100px);
    }
    80% {
        transform: translate(0, 0px);
    }
    85% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

